body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    font-family: inherit;
    font-size: inherit;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px; /* Assure un bon alignement */
}

li {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    list-style-type: disc; /* Assure que les puces restent classiques */
}

p {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.6;
    color: #374151;
}


ul + p {
    font-family: inherit;
    font-size: inherit;
    margin-top: 10px;
    line-height: 1.6;
    color: #333; /* S'assure que la couleur est uniforme */
}


h1 {
    text-align: center;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.1em;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.map-container {
    flex: 2;
    position: relative;
    height: 100%;
    width: 100%;
}

#map, #help-map {
    height: 100%;
    width: 100%;
}

#help-map-container {
    display: none; /* Masquer la carte de l'aide maximale par défaut */
}

.description {
    width: 30%;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}

#info-tab {
    display: none;
}

#country-name {
    font-size: 1.5em;
}

#domains-list {
    list-style-type: none;
    padding: 0;
}

#domains-list li {
    padding: 5px;
    background-color: #e2e2e2;
    margin: 5px 0;
}

/* 📌 Adaptation mobile */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .map-container {
        height: 50vh; /* 🔹 La carte prend au moins la moitié de l'écran */
        width: 100%;
    }

    .description {
        width: 100%;
        max-height: 40vh; /* 🔹 Réduction de la hauteur de la section info pour laisser voir la carte */
        overflow-y: auto;
    }
}

.description p {
    margin-bottom: 2px; /* Réduit l’espace entre les paragraphes */
    line-height: 1; /* Réduit légèrement l’espacement entre les lignes */
}

.description ul {
    margin-top: 2px; /* Réduit l’espace avant la liste */
    margin-bottom: 2px; /* Réduit l’espace après la liste */
}

.description li {
    margin-bottom: 2px; /* Réduit l’espace entre les éléments de la liste */
}

#variableValeur {
    font-size: 1.5em; /* Increase text size */
    font-weight: bold; /* Make it bold for better visibility */
    text-align: center; /* Center the text */
    color: #1e40af; /* Optional: Change color to blue for emphasis */
    border: 2px solid #4f46e5; /* Optional: Add a border for more focus */
}
